
<div id='searchPage' style="height:100%;width:100%;background:#eeeeee">
    <a ui-sref="index" ><b>BACK</b></a>
    <input type="search" ng-model="search" placeholder="Type Search..." style="color:black;width:100%">
    <div style="width:100%;">
        <div ui-sref="search.artist" style="width:50%;float:left"><h1>Artist</h1></div>
        <div ui-sref="search.artwork" style="width:50%;float:left"><h1>Artwork</h1></div>
    </div>
    <div ui-view="content"></div>
    <div style="width:100%;">
        <div ng-click="order='distance';getPositionIntel()" style="width:33.3%;float:left">Nearby</div>
        <div ng-click="order='counter';" style="width:33.3%;float:left">Popular</div>
        <div ng-click="order='date_made';" style="width:33.3%;float:left">Recent</div>
    </div>
    <div ng-include="'templates/profile.html'"></div>
</div>