<ion-view>
<ion-content>
    <div class="card">
        <h2>The App</h2>
        <p>The ARTour app is intended to enhance the experience of students, alumni, and those interested in the University of Houston's public art collection by supplying relevent information on the artwork, as well as pathfinding tools to help locate each piece.</p>
        <p>The app was created by Data Analytics in Student Hands (DASH), an Honors College organization with contributions by Suneil Tandon, Carl Stephen, Timothy Brown, Vu Nguyen, Hejal Soni, Binh Tran, Dan Vo, and Isme Correa.</p>
        <img src="img/DASH-rec.jpg" height="85px">
    </div>

    <div class="card">
        <h2>Using AR Mode</h2>
        <p> The WiFi only models of tablets run off the location services through the WiFi. This means that AR Mode will work as long as there is a strong enough WiFi signal. If the device does not have cellular data, the location services may not work or may be inaccurate. </p>
    </div>
    
    <div class="card">
        <h2>The Collection</h2>
        <p>In 1969, the Texas legislature voted to enact 1% for art for University of Houston. UH was the first state institution to establish a percent for art program and currently has one of the largest and most impressive university art collections in the country. Today, the collection numbers over 500 artworks located throughout the UH System campuses.</p>
        <p>With the help of the University’s System Wide Art Acquisition Committee comprised of UH Regents, UH System faculty and staff, local curators and community representatives, the collection continues to expand and include work by regional, national and international artists.</p>
    </div>
    <div class="card">
        <h2>External Resources</h2>
        <p>A new web site has been developed that will continue to expand with the ever growing collection.  A map and walking tour of the central campus is available online <a href="#" ng-click="goToLink('http://uh.edu/uh-collection')">here</a>. We are also on Facebook <a href="#" onclick="window.open('https://www.facebook.com/pages/University-of-Houston-Public-Art-Collection/174240729070', '_blank', 'location=yes'); return false;">here</a>
			<p>
            To schedule a free guided tour of the UHPAC for groups of 10 or more, contact <a href="#" ng-click="goToLink('http://blafferartmuseum.org.s158155.gridserver.com/guided-tours/')">Blaffer Art Museum</a>. Visit <a href="#" ng-click="goToLink('http://www.blafferartmuseum.org/')">here</a> for more information about museum exhibitions and programs.
			</p>
        </p>
    </div>
    <div class="card">
        <h2>Contact Info</h2>
        <p>For further information you can contact Michael Guidry, Curator of the University Art Collection at
            <br>mguidry3@uh.edu or <br>713-743-5315.</p>
        <br>
        <img src="img/blaffer.jpg">
        <br>
        <br>
        <br>
        <img src="img/uhart.jpg">
    </div>
</ion-content>
</ion-view>