<ion-view title="">
    <!-- <ion-nav-bar class="bar-dark"> {{tourGet(tourID).tour_title}}-->
    <ion-nav-buttons side='right' ng-controller="arCtrl">
        <label class="item-input-wrapper" style="height: 35px">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input ng-model="$parent.query" type="search" placeholder="Search" style="height: 23px">
        </label>
        <button class="button button-icon button-clear" ng-click="toggleMap()">
            <img src="img/map.svg" height="32px"/>
        </button>
        <button class="button button-icon button-clear" ng-click="loadAR(artworkGet(tourID), tourGet(tourID).tour_title, tourID)">
            <img src="img/aricon.png" height="32px"/>
        </button>
    </ion-nav-buttons>
    <!-- </ion-nav-bar> -->
    <ion-content delegate-handle="sliderScroll" style="background: rgba(104, 152, 172, 0.1)">
        <div class="box">
            <div class="photo_container" ng-repeat="artOb in artworkGet(tourID) | filter:query" ui-sref="tour.artDetail({artID:{{artOb.artwork_id}}})">
                <img img-cache ic-src="{{genImList(artOb)}}" />
                <div id="titleBox">{{artOb.title}}</div>
            </div>
        </div>
        <div ng-click="toggleMap()" class="item item-icon-left item-divider">
            <i ng-hide="!mapShow" class="icon ion-arrow-down-b"></i>
            <i ng-show="!mapShow" class="icon ion-arrow-right-b"></i>
            Map
        </div>
        <div ng-show="mapShow">
            <googlemaps class="google-maps" options="map"></googlemaps>
        </div>
    </ion-content>
</ion-view>
<style type="text/css">
    .buttons.right-buttons span {
        margin-right: -50px !important;
    }
</style>
