<style>
    
        body {
        background-color:black;
}
    #navcontainer{
        width: 5rem;
        padding: 1rem;
        z-index: 11;
        position: absolute;
        background-color:none;
    }
    #testbuttons{
        width: 20rem;
        background-color: #f0f050;
    }
    
    .modal {
        width: 90%;
        max-width: 50rem;
        height: 90%;
        padding: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
/*
        top: 5%; 
        left: 5%;
        right: 5%;
        bottom: 5%;
*/
        margin-top: 0px;
        margin-left: 0px;
        text-align: left;
        z-index: 11; /* 1px higher than the overlay layer */
        background-color: #B684A4;
        border-radius: 10px 0 10px 0;
        box-shadow: 2px 2px 5px 0 #000;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 10;
    }
    .container {
    height: 90%;
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}
 
    .description {
        text-align: justify;
        font-family: "Lato", serif;
        font-weight: 200;
        font-size: 1rem;
        color: white;
        
     /* for word breaks */    
        -ms-word-break: break-all;
        word-break: break-all;

     /* Non standard for webkit */
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        -webkit-hyphenate-limit-lines: 2;
        -webkit-hyphenate-limit-zone: 10%;
    }
b {
    font-family: 'Lato', serif;
    font-size: 2rem;
}
i {
    font-family: 'Lato', sans-serif;
}
.description {
    padding: 1rem;
}
    img {
    max-width: 100%;
}
    #footer
{
position: relative;
margin-top: -2em;

}
</style>




<div id="navcontainer">
    <a ui-sref="search"><img src="img/back.svg" /></a><br/>
    <a ui-sref="index"><img src="img/camera.svg" /></a><br/>
    <a ui-sref="index"><img src="img/map.svg" /></a><br/>
    <a ui-sref="index"><img src="img/search.svg" /></a>
</div>

<div class="arView" ng-show="phoneUp" style="height:100%;width:100%">
    <div id="arElements" style="backgroundColor:transparent;width: 100%; height: 70%;padding-top:30%"></div>
</div>

<div class="mapView" ng-hide="phoneUp" style="height:100%;width:100%">
    <div id="map-view" style="width: 100%; height: 100%;"></div>
</div>






<div class="overlay" ng-show=selectedMarker ng-click="selectedMarker=null"></div>
<div class="modal" ng-show=selectedMarker>
    
        
<div class="container">
            <img src={{selectedMarker.image}} alt="Unable to Load Image" /><br/>
       
            <b>{{selectedMarker.title}}</b><br/>
            <i>{{selectedMarker.artist_first}} {{selectedMarker.artist_last}}, {{selectedMarker.artist_dob}}</i><br/>
       
            <p class="description">
                {{selectedMarker.description}}
            </p>
    <div id="footer">
        <img src="img/close.svg"> <img src="img/add.svg"> <img src="img/fav.svg">
    </div> 
    </div>
</div>
