<ion-view title="My Favorites">
<ion-nav-buttons side='right' ng-controller="arCtrl">
    <button class="button button-icon button-clear" ng-click="loadAR(favoriteArt, 'Favorite Tour', -1)">
            <img src="img/aricon.png" height="32px"/>
    </button>
</ion-nav-buttons>
<ion-content>
<div class="item" ng-show="favoriteArt.length==0">
    No favorites selected
</div>
<div class="box">
    <div class="photo_container" ng-repeat="artOb in favoriteArt | filter:query" ui-sref="tour.artDetail({artID:{{artOb.artwork_id}}})">
        <img img-cache ic-src="{{genImList(artOb)}}" />
        <div id="titleBox">
            {{artOb.title}}
<!--
            <br/>
            <button class="button button-clear button-dark" ng-click="deleteFavorite(item.artwork_id)">
                <i class="icon ion-ios-trash-outline" style="color:white"></i>
            </button>
-->
        </div>
    </div>
</div>
</ion-content>
</ion-view>