<ion-view>
<ion-nav-buttons side='right' ng-controller="arCtrl">
    <button id="openOn" class="button button-icon button-clear" ng-click="loadAR(favoriteArt, 'Favorite Tour', -1)">
            <img src="img/aricon.png" height="32px"/>
    </button>
</ion-nav-buttons>
<ion-content>
    <div class=" description" style="margin: 5px; width:100%;">
        <div class=" item-text-wrap">
            <h1>My Favorites <i class="icon ion-heart isFavorite"></i></h1>
        </div>
    </div>
    <div class="box collageView">
        <div class="photo_container" ng-repeat="artOb in favoriteArt | filter:query" ui-sref="tour.artDetail({artID:{{artOb.artwork_id}}})">
            <img img-cache ic-src="{{genImList(artOb)}}" />
            <div id="titleBox">
                {{artOb.title}}
            </div>
        </div>
    </div>
    <div class="item" ng-show="favoriteArt.length==0">
        No favorites selected
    </div>
</ion-content>
</ion-view>