<ion-view title="{{tourGet(tourID).tour_title}}">
    <ion-nav-buttons side='right'>
        <button class="button button-icon button-clear" ng-click="loadAR()">Start Tour</button>
    </ion-nav-buttons>
    <div class="bar bar-subheader" style="margin-bottom: -50px">
        <h2 class="title">{{visible_art_title}}</h2>
    </div>
    <ion-content class="has-subheader">
        <ion-slide-box delegate-handle="main-slider" on-slide-changed="slideHasChanged($index)" does-continue="false">
            <ion-slide ng-repeat="artOb in artworkGet(tourID)">
                <div class="box"><img ng-src="{{genImList(artOb)}}" ng-style="{'width' : '100%'}"></div>
            </ion-slide>
            <ion-slide>
                <googlemaps class="google-maps" options="map1"></googlemaps>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>