<ion-view title="{{tourGet(tourID).tour_title}}">
    <ion-nav-buttons side='right'>
        <button class="button button-icon button-clear" ng-click="loadAR()">Start ARTour</button>
    </ion-nav-buttons>
    <ion-content delegate-handle="sliderScroll">
        <div class="box">
            <div class="photo_container" ng-repeat="artOb in artworkGet(tourID)" ui-sref="tour.artDetail({artID:{{artOb.artwork_id}}})">
                <img ng-src="{{genImList(artOb)}}" />
                <div id="titleBox">{{artOb.title}}</div>
            </div>
        </div>
        <div ng-click="toggleMap()" class="item item-icon-left item-divider">
            <i ng-hide="!mapShow" class="icon ion-arrow-down-b"></i>
            <i ng-show="!mapShow" class="icon ion-arrow-right-b"></i>
            Map
        </div>
        <div ng-show="mapShow">
            <googlemaps class="google-maps" options="map"></googlemaps>
        </div>
    </ion-content>
</ion-view>
