<ion-view view-title="Intro">
  <ion-nav-buttons side="left">
    <button class="button button-positive button-clear no-animation"
            ng-click="startApp()" ng-show="!slideIndex">
      Skip Intro
    </button>
    <button class="button button-positive button-clear no-animation"
            ng-click="previous()" ng-show="slideIndex > 0">
      Previous Slide
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right"> 
    <button class="button button-positive button-clear no-animation"
            ng-click="next()" ng-show="slideIndex != 4">
      Next
    </button>
    <button class="button button-positive button-clear no-animation"
            ng-click="startApp()" ng-show="slideIndex == 4">
      Start using Public Art
    </button>
  </ion-nav-buttons>
  <ion-slide-box on-slide-changed="slideChanged(index)">
    <ion-slide>
       <img src="img/intro_main.jpg" alt="Main Page" style="max-width:99%; max-height:80%">       
    </ion-slide>
    <ion-slide>
       <img src="img/intro_ARmode.jpg" alt="AR Mode Page" style="max-width:99%; max-height:80%">
    </ion-slide>
    <ion-slide>
       <img src="img/intro_map.jpg" alt="Map Page" style="max-width:99%; max-height:80%">      
    </ion-slide>
    <ion-slide>  
       <img src="img/intro_menu.jpg" alt="Menu Page" style="max-width:99%; max-height:80%">     
    </ion-slide>
    <ion-slide> 
        <div ng-include src="'partials/about.html'" style="text-align: left"></div>
    </ion-slide>  
  </ion-slide-box>
</ion-view>