<ion-view title="AR Tours">
    <ion-nav-buttons side='right'>
        <button class="button button-icon button-clear" ng-click="loadAR()">Start ARTour</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="box">
            <div class="photo_container" ng-repeat="artOb in artworkGet(tourID)" ui-sref="tour.artDetail({artID:{{artOb.artwork_id}}})">
                <img ng-src="{{genImList(artOb)}}" />
                <div id="titleBox">{{artOb.title}}</div>
            </div>
        </div>
    </ion-content>
</ion-view>