<ion-view>
<ion-header-bar align-title="left" class="bar-dark bar-subheader">
    <label class="item-input-wrapper">
        <i class="icon ion-ios7-search placeholder-icon"></i>
        <input ng-model="query" type="search" placeholder="   Search">
    </label>
</ion-header-bar>
<ion-content delegate-handle="menuScroll">
    <div class="list">
        <a class="item" ui-sref="tour" menu-close nav-clear>
            All Artwork
        </a>
        <a class="item item-icon-left" ui-sref="tour.favorites" menu-close nav-clear>
            <i class="icon ion-star"></i>
            My Favorites
        </a>
        <div ng-click="resizeScroll(); setToursOpen(!toursOpen());" class="item item-icon-left item-divider">
            <i ng-show="toursOpen()" class="icon ion-arrow-down-b"></i>
            <i ng-hide="toursOpen()" class="icon ion-arrow-right-b"></i>
            Tours
        </div>
        <a ng-show="toursOpen()" ui-sref="tour.imslide({tourID:{{tour.tour_id}}})" ng-repeat="tour in toursGet() | filter: query" class="item" menu-close nav-clear>
            <h3>{{tour.tour_title}}</h3>
        </a>
        <div ng-click="resizeScroll(); setArtworkOpen(!artworkOpen());" class="item item-icon-left item-divider">
            <i ng-show="artworkOpen()" class="icon ion-arrow-down-b"></i>
            <i ng-hide="artworkOpen()" class="icon ion-arrow-right-b"></i>
            Artwork
        </div>
        <a ng-show="artworkOpen()" ui-sref="tour.artDetail({artID:{{item.artwork_id}}})" ng-repeat="item in artworkGet() | filter: query" class="item" menu-close nav-clear>
            <h3>{{item.title}}</h3>
        </a>
        <div class="item card item-text-wrap">
            <h2>Tour App</h2>
            <p>The tour app is intended to enhance the experience of students, alumni, and those interested in the University of Houston's public art collection by supplying relevent information on the artwork, as well as pathfinding tools to help in locating each piece.</p>
        </div>
    </div>
</ion-content>
</ion-view>
