
<div style="height:100%;width:100%;background:#eeeeee">
    <a ui-sref="index" ><b>BACK</b></a>
    <input type="search" ng-model="search" placeholder="Type Search..." style="color:black;width:100%">
    <div ng-repeat="art in artwork | filter:search">
        <div ng-click="openProfile(art)">
            <a style="color:#6798AC">{{art.title}}</a><br/><i style="color:#FE7F78">               {{art.artist_first}} {{art.artist_last}}</i><br/>
        </div>
    </div>
    <div ng-include="'partials/profile.html'"></div>
</div>