<style>
    body {
        background-color:#6798AC;
    }
    
#photos {
   /* Prevent vertical gaps */
   line-height: 0;
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
   
}
#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
    
@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}
    
.searchbar{
    width: auto;
    height: 4rem;
    background-color:white;
    padding: 1rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    overflow: hidden;
}
    
</style>
<!--
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700" type="text/css">


<div class="searchbar">
    NEARBY | POPULAR | SEARCH <img src="img/magnifying.png" height=70%> 
</div>

<section id="photos">


  <img src="http://i1094.photobucket.com/albums/i453/dantvo/WilliGutmannBigOrange.jpg" alt="Aaron Parazette Remembering Next Summer">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/YourMoveLawrenceArgent.jpg" alt="Little kittie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/TomSayreContemplation.jpg" alt="Little doggie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/WilliamKing.jpg" alt="Little kittie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/TheArtGuys.jpg" alt="Little doggie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/TimeGloverinterior.jpg" alt="Little kittie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/RandyTwaddle1.jpg" alt="Little doggie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/ScottBurtonBenches.jpg" alt="Little kittie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/Peterforakis1.jpg" alt="Little doggie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/StatueofFourLiesCodex.jpg" alt="Little kittie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/StephendeStaebler.jpg" alt="Little doggie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/MenasheKadishman.jpg" alt="Little kittie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/RichardMcDermottMiller.jpg" alt="Little doggie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/RandyTwaddle.jpg" alt="Little kittie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/PeterForakis.jpg" alt="Little doggie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/NathanCarter.jpg" alt="Little kittie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/MattMullican.jpg" alt="Little doggie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/GerhardMarksAlbertusMagnus.jpg" alt="Little kittie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/LuisJimenez.jpg" alt="Little doggie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/MalouFlatomurals.jpg" alt="Little kittie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/JimSanborn.jpg" alt="Little doggie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/MaryMiss.jpg" alt="Little kittie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/LeeKelly.jpg" alt="Little doggie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/FrankStella.jpg" alt="Little kittie">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/LindaHoward.jpg">
  <img src="http://i1094.photobucket.com/albums/i453/dantvo/JimLove.jpg">

</section>-->
