<!--<snap-drawer>
    Let's just get rid of the snap stuff
</snap-drawer>-->

<ion-content style="background-color: #50f062">
    <div class="list">
        <span  ng-show=tourArt><a class="item" ng-click=startTour()><b>START</b></a></span>
    
<!--        <div id="map-canvas"></div>-->
        
        <a class="item item-icon-left" ng-click="favTourClick()" >
            <i class="icon ion-star"></i>
            My Favorites
        </a>
        <a class="item" ng-click="testFunc()" ><h1>Explore</h1></a>
<!--
        <div ng-click="tourClick(tour)" ng-repeat="tour in toursGet()" class="item">
            {{tour.tour_title}}
        </div>
-->
        <div ng-click="menuShow=!menuShow" class="item item-icon-left item-divider" ng-init="menuShow=false">
            <i ng-hide="menuShow" class="icon ion-arrow-down-b"></i>
            <i ng-show="menuShow" class="icon ion-arrow-right-b"></i>
            Public Art Tours
        </div>
        <a ng-hide="menuShow" ui-sref="tour.imslide({tourID:{{tour.tour_id}}})" ng-repeat="tour in toursGet()" class="item">
            <h3>{{tour.tour_title}}</h3>
        </a>
    </div>

<div ng-include="'partials/profile.html'"></div>
</ion-content>