<snap-drawer>
    <div id="menucontainer">
    <br/><a ui-sref="index" style="font-size: 2rem;">back</a><br/><br/><br/>
    <div>
        <div snap-toggle="left" ng-click="favTourClick()">
            <a style="font-size: 2rem;">Favorites</a><br/><br/>
            <hr>
        </div>
        <div snap-toggle="left" ng-click="newTourClick()">
            <a style="font-size: 2rem;">New</a><br/><br/>
            <hr>
        </div>
    </div>
    <div ng-repeat="tour in tours">
        <div snap-toggle="left" ng-click="tourClick(tour)">
            <a style="font-size: 2rem;">{{tour.title}}</a><br/><br/>
            <hr>
        </div>
    </div>
    </div>
</snap-drawer>

<snap-content snap-options="sliderOptions" style="background-color: #50f062">
    <div id="menucontainer">
        <a snap-toggle="left" class="sub">view tours</a> | <a ui-sref="index" class="sub">start tour</a><div id="map-canvas"></div>
    </div>
</snap-content>
<div ng-include="'partials/profile.html'"></div>