<!--<nav class="main-menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Rap Sheet</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
</nav>
<div menu-slideout>
    <h1>Tours</h1>
    <div ng-repeat="tour in tours">
        <div>
            <h2>{{tour.title}}</h2>
            <p>By: {{tour.creator}}</p>
            <p>Likes: {{tour.likes}}</p>
        </div>
    </div>
</div>-->

<div class="page-wrapper">

        <nav class="main-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Rap Sheet</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <div class="content" menu-slideout>
            <div class="menu-toggle-bar mobile-only">
                <div class="menu-toggle" ng-click="toggleMenu()">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>

            <p>
                <strong>
                    Swipe to the right (or press menu button) to slide out the menu.
                </strong>
            </p>
            <p>
                <a href="https://github.com/CWSpear/angular-menu-slideout">(Source Code)</a>
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, minima, consectetur, sint iste est quo aperiam dolores debitis suscipit quia cum voluptatem distinctio ullam! Quidem, esse doloribus tempore quis laudantium.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, minima, consectetur, sint iste est quo aperiam dolores debitis suscipit quia cum voluptatem distinctio ullam! Quidem, esse doloribus tempore quis laudantium.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, minima, consectetur, sint iste est quo aperiam dolores debitis suscipit quia cum voluptatem distinctio ullam! Quidem, esse doloribus tempore quis laudantium.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, minima, consectetur, sint iste est quo aperiam dolores debitis suscipit quia cum voluptatem distinctio ullam! Quidem, esse doloribus tempore quis laudantium.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, minima, consectetur, sint iste est quo aperiam dolores debitis suscipit quia cum voluptatem distinctio ullam! Quidem, esse doloribus tempore quis laudantium.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, minima, consectetur, sint iste est quo aperiam dolores debitis suscipit quia cum voluptatem distinctio ullam! Quidem, esse doloribus tempore quis laudantium.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, minima, consectetur, sint iste est quo aperiam dolores debitis suscipit quia cum voluptatem distinctio ullam! Quidem, esse doloribus tempore quis laudantium.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, minima, consectetur, sint iste est quo aperiam dolores debitis suscipit quia cum voluptatem distinctio ullam! Quidem, esse doloribus tempore quis laudantium.
            </p>
        </div>        
    </div>