<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
    <!-- basic meta information -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Type" content="application/json; charset=utf-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=5,user-scalable=yes" name="viewport">
    
    <title>ARTour World</title>

    <script src="architect://architect.js"></script>

    <!-- positioning of poi-radar -->
    <link rel="stylesheet" href="css/poi-radar.css" />
    
    <!-- jquery mobile CSS -->
    <link rel="stylesheet" href="jquery/jquery.mobile-1.3.2.min.css" />
    <!-- required to set background transparent & enable "click through" -->
    <link rel="stylesheet" href="jquery/jquery-mobile-transparent-ui-overlay.css" />

    <!-- jquery JS files -->
    <script type="text/javascript" src="jquery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="jquery/jquery.mobile-1.3.2.min.js"></script>

    <!-- marker representation-->
    <script src="js/marker.js"></script>    

    <!-- World logic-->
    <script type="text/javascript" src="js/limitingRange.js"></script>

    <!-- radar component -->
    <script type="text/javascript" src="js/radar.js"></script>
    <script>
        $(document).ready(function() {
                
            // If closeForever LS entry has not been created
            if(!localStorage.getObject("closeForever")){
                $("#popupDialog").popup("open");
            } else {
                $("#popupLoading").popup("open");
            }
        });
        function closeWikitudePlugin() {
            document.location = 'architectsdk://action=closeWikitudePlugin';
        }
        function closePopupIntro() {
            $("#popupDialog").popup("close");
        }
        function closePopupIntroForever() {
            $("#popupDialog").popup("close");
            // Creates LS entry when closed forever
            localStorage.setObject("closeForever","exists");
        }
        function closePopupArrived() {
            $("#popupArrived").popup("close");
        }
    </script>
</head>
    <body>
     <div data-role="page" id="page1" style="background: none;" >
            <!-- MAIN PAGE CONTENT -->

            <!-- header of UI holding feature buttons -->
            <div id="header-status" data-role="header" data-position="fixed" data-theme="c">
                <a href="javascript: World.showRange();" data-icon="gear" data-inline="true" data-mini="true">Range</a>
                <!--<h1></h1>-->
                <a href="javascript: closeWikitudePlugin();" data-inline="true" data-mini="true">Close</a>
            </div>


            <!-- transparent footer-->
            <div data-role="footer" class="ui-bar" data-theme="f" data-position="fixed" style="text-align:center;">
                <!-- the radar div - Wikitude SDK radar will be drawn into this div -->
                <div class="radarContainer_left" id="radarContainer"></div>
                
                <!-- small status-button -->
                <div style="margin-bottom: -45px"> <a style="text-align:right;" id="popupInfoButton" href="#popupInfo" data-rel="popup" data-role="button" class="ui-icon-alt" data-inline="true" data-transition="pop" data-icon="alert" data-theme="e" data-iconpos="notext">Log</a> </div>
                <div style="float: right; margin-right: 27px;"> <a href="javascript: World.showInfo();" style="text-align:right;" data-role="button" class="ui-icon-alt" data-inline="true" data-transition="pop" data-theme="c">More Info <div id="poi-detail-distance"></div></a> </div>

                <!-- popup displayed when button clicked -->
                <div data-role="popup" id="popupInfo" class="ui-content" data-theme="e" style="max-width:350px;">
                    <p style="text-align:right;" id="status-message">Locating...</p>
                </div>
            </div>
        
            <!-- POPUPS, ONLY VISIBLE ON DEMAND -->

            <!-- POPUP: First Launch -->
            <div data-history="false" data-role="popup" data-dismissible="false" id="popupDialog" data-overlay-theme="a" data-theme="a" style="max-width:400px;" class="ui-corner-all ui-popup ui-body-a ui-overlay-shadow">
                <div data-role="header" data-theme="a" class="ui-corner-top ui-header ui-bar-a" role="banner">
                    <h1 class="ui-title" role="heading" aria-level="1">ARTour</h1>
                </div>
                <div role="main" class="ui-corner-bottom ui-content">
                    <h3 class="ui-title">Instructions</h3>
                    <p>These are some really descriptive instructions.</p>
                    <a onclick="closePopupIntroForever()" data-role="button" data-inline="true" data-theme="a" class="ui-link ui-btn ui-btn-a ui-btn-inline ui-shadow ui-corner-all" role="button">Never Show</a>
                    <a onclick="closePopupIntro()" data-role="button" data-inline="true" data-theme="a" class="ui-link ui-btn ui-btn-a ui-btn-inline ui-shadow ui-corner-all" role="button">Close</a>
                </div>
            </div>
        
            <!-- POPUP: Arrived at destination -->
            <div data-history="false" data-role="popup" data-dismissible="false" id="popupArrived" data-overlay-theme="a" data-theme="a" style="max-width:400px;" class="ui-corner-all ui-popup ui-body-a ui-overlay-shadow">
                <div data-role="header" data-theme="a" class="ui-corner-top ui-header ui-bar-a" role="banner">
                    <h1 class="ui-title" role="heading" aria-level="1">Arrived</h1>
                </div>
                <div role="main" class="ui-corner-bottom ui-content">
                    <h3 class="ui-title">You have arrived at the location.</h3>
                    <p>The art piece is within 10 meters of your current location.</p>
                    <a onclick="closePopupArrived()" data-role="button" data-inline="true" data-theme="a" class="ui-link ui-btn ui-btn-a ui-btn-inline ui-shadow ui-corner-all" role="button">Close</a>
                </div>
            </div>
        
            <!-- POPUP: Loading... -->
            <div data-history="false" data-role="popup" data-dismissible="false" id="popupLoading" data-overlay-theme="a" data-theme="a" style="max-width:400px;" class="ui-corner-all ui-popup ui-body-a ui-overlay-shadow">
                <div role="main" class="ui-corner-bottom ui-content">
                    Loading...
                </div>
            </div>
            

            <!-- PANELS, ONLY VISIBLE ON DEMAND -->

            <!-- panel containing POI detail information -->
            <div data-role="panel" id="panel-poidetail" data-position="right" data-display="overlay" style="background-color:#F0F0F0;" data-theme="c">
                <!-- header with "close" button -->
                <div data-role="header" data-theme="c">
                    <h1>Details</h1>
                    <a href="#header" data-rel="close">Close</a>
                </div>
                <!-- content of POI detail page, you may also add thumbnails etc. here if you like -->
                 <div data-role="content">
                    <!-- title -->
                    <h3 id="poi-detail-title"></h3>
                    <img id="poi-detail-image" style="width: 100%">
                    <!-- distance -->
<!--                    <h4>Distance: <a id="poi-detail-distance"></a></h4>-->
                    <!-- description -->
                    <h4 id="poi-detail-description"></h4>
                </div>
            </div>

            <!-- range panel -->
            <div data-role="panel" id="panel-distance" data-position="left" data-display="overlay" style="background-color:#F0F0F0;" data-theme="c">
                <!-- header with close button -->
                <div data-role="header" data-theme="c">
                    <h1>Range</h1>
                    <a href="#header" data-rel="close">Close</a>
                </div>
                <!-- distance information, calculated/updated in code  -->
                <div data-role="content">
                    <!-- Range in m/km-->
                    <h4> Range: <a id="panel-distance-value"></a></h4>
                    <!-- Amount of visible places -->
                    <h4> Visible: <a id="panel-distance-places"></a></h4>
                    <!-- default slider -->
                    <input id="panel-distance-range" type="range" data-highlight="true" name="rangeSlider" min="0" max="100" value="25" data-show-value="false" step="1" data-popup-enabled="false">
                </div>
            </div>
        </div>
    </body>
</html>