html, body{
	overflow-x: hidden; /* prevents horizontal scroll bars */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
	overflow: -moz-scrollbars-vertical;
	height: 100%; /* fixes focus scrolling in Safari (OS X) */
    
    font: 100% "Milo", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;   
}
body{
    background:#000;
    background-image: url(../img/jimsanborn1.png);
    background-position:  100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#indexWrapper{
    position:absolute;
    vertical-align: top;
    width:100%;
    height:100%;
}
/*
origin.html
*/

#logotitle {
    position:relative;
    width:100%;
    padding:2%;
    background-color: white;
    z-index:2; 
}
#titleImg {
    max-width:350px;
}
#logosearch {
    position: absolute;
    top:8%;
    right:3%;
    margin: 0 auto;
    width: 14%;
}
#textcontainer {
    position:relative;
    display:inline-block;
    background-color: transparent;
    border-bottom-style:solid;
    border-bottom-color: #fff;
    border-bottom-width: 2em;
    padding-bottom:10%;
    z-index:22;
    left:5%;
    width:80%;
    max-width:600px;
    margin-bottom: 10%; 
    margin-top:10%;
    overflow:hidden;
}
#tourList {
    position:relative;
    cursor:pointer;
    width:100%;
    top:5%;
    left:3%;
}
#exploreList {
    position:relative;
    cursor:pointer;
    width:100%;
    bottom:5%;
    left:3%;
}
#uhLogo{
    position:absolute;
    background-color:black;
    width:100%;
    bottom:2%;
}


#map-canvas{
    margin-top: 1rem;
    background-color: #ebebda; 
    width: 100%; 
    height: 93%;
}
#navcontainer{
    width: 7rem;
    padding: 1rem;
    z-index: 11;
    position: absolute;
    background-color:transparent;
}
#navcontainertwo {
    width: 60px;
    height:60px;
    z-index: 11;
    background-color:transparent;
    right: 1rem;
    bottom: 1rem;
    position: absolute;
}

/*used for pop ups*/
#wrapper {
    height: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 50%;
}
#center {
    bottom: 50%;
    height: 100%;
    position: absolute;
    right: 50%;
    width: 100%;
}
.message {
    font-family: "Oswald", Sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: white;
        width: 18rem;
        height: 10rem;
        position: absolute;
        z-index: 15;
        text-align: center;
    padding: 2rem;
        background-color: #6798AC;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 2px 2px 2px 0 #000;
}



.sizeofbutton { 
    width: 60px;
    height: 60px; 
}

/*
@media only screen and (min-width: 380px) {
    #logotitle {
        font-family: "Lato", Sans-serif;
        font-weight: 400;
        color: #6798AC;
        padding: 1rem;
        font-size: 4rem;
        margin-bottom:-1em;
        background-color: blue;//white;
        z-index:2; 
        height:20%;
    }
}
*/


#testbuttons{
        width: 20rem;
        background-color: #f0f050;
    }

 .description {
        text-align: justify;
        font-family: "Lato", serif;
        font-weight: 200;
        font-size: 1rem;
        color: white;
        
     /* for word breaks */    
        -ms-word-break: break-all;
        word-break: break-all;

     /* Non standard for webkit */
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        -webkit-hyphenate-limit-lines: 2;
        -webkit-hyphenate-limit-zone: 10%;
    }
    
    .title{
        font-family: 'Lato', serif;
        font-size: 1rem;
        color: white;
    }
    
    
/*
    img {
        max-width: 100%;
    }
*/



/*make links look good
a:link {
    text-decoration: none;
    color: #fff;
}
a:visited {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: none;
    color: #fff;
}
a:active {
    text-decoration: none;
    color: #fff;
}
*/
/*tours.html*/
#menucontainer {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;
    font-weight: 300;
    font-size: 5rem;
    background-color: #6798AC;
    color: #fff;
    text-align: right;
    z-index: 2;
    line-height: 1rem;
}

/*
.sub {
    font-weight: 100;
    font-size: 2rem;
    line-height: 1.6rem;
    padding: 3px;
}
*/

/*horizontal rule*/
hr {
  background: #fff; 
  clear: both; 
  float: none; 
  width: 100%; 
  height: 1px;
  margin: 0 0 0.6em;
  border: none; 
}
/*snap's css - copied here so I can modify*/
snap-content,
[snap\:content],
[snap-content],
[data-snap-content],
[x-snap-content],
.snap-content,
.x-snap-content,
snap-drawers,
[snap\:drawers],
[snap-drawers],
[data-snap-drawers],
[x-snap-drawers],
.snap-drawers,
.x-snap-drawers,
.snap-drawers,
.snap-content {
  position: fixed;
  height: auto;
  top: 0;
  bottom: 0;
  width: auto;
  left: 0;
  right: 0;
}
snap-drawer,
[snap\:drawer],
[snap-drawer],
[data-snap-drawer],
[x-snap-drawer],
.snap-drawer,
.x-snap-drawer,
.snap-drawer {
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  overflow: hidden;
/*  overflow: auto;*/
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  transition: top 0.2s linear;
  -webkit-transition: bottom 0.2s linear;
  -moz-transition: bottom 0.2s linear;
  -o-transition: bottom 0.2s linear;
  transition: bottom 0.2s linear;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  width: 265px;
}
.snap-content {
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.snap-drawer-left {
  left: 0;
  z-index: 1;
}
.snap-drawer-right {
  right: 0;
  z-index: 1;
}
.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}
.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}
/*image cropping for profiles*/
/*
.crop {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
    margin: auto;
}
*/

/*.crop height and width define where to slice the bottom-most and right-most part of the image. .crop img height and width will scale the image. .crop img margin will pan the image*/

/*profile buttons*/
.footer {
    position: relative;
    width: 100%;
    padding-bottom: 1;
    z-index:999
}
.resize {
    height: 50px;
}

/*for profile page*/
 .modal {
        width: 90%;
        max-width: 50rem;
        height: 90%;
        padding: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 15;
/*
        top: 5%; 
        left: 5%;
        right: 5%;
        bottom: 5%;
*/
        margin-top: 0px;
        margin-left: 0px;
        text-align: left;
        z-index: 11; /* 1px higher than the overlay layer */
        background-color: #334D5C;
        border-radius: 0px 0 10px 0;
        box-shadow: 2px 2px 2px 2px #000;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 10;
    }
    
    .container {
        height: 90%;
        width: 30%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
 .footercontainer{
     overflow-y:hidden;
    margin: 0 auto;
     z-index:11;
 }
   
    
    






/*this is the beginning of the responsive grid design css*/

/*
Use box-sizing: border-box

Place at the top of your CSS file. The * will target all elements on the page.
 
*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
Min-width Media Queries

Introduce layout-specific rules only when you need them. Use min-width to layer complexity on your layout as the viewport widens. It’s easier to have all the media queries nearby, rather than at the end of the stylesheet or in a separate document.
*/

@media (min-width: 430px) { 
    #logotitle {
/*
        font-family: "Lato", Sans-serif;
        font-weight: 400;
        color: #6798AC;
        padding: 1rem;
        font-size: 4rem;
        margin-bottom:-1em;

        border-style:solid;
        border-color: blue;
        z-index:2; 
        height:10%;
        */
    }
    #logosearch {
        width: 8%;
    }
    #textcontainer{
        position:absolute;
        border-bottom-color: transparent;
        max-width:50%;
        top:15%;
/*
        max-width:90%;
        max-height:80%;
*/
    }
/*
    #tourList {
        width:50%;
    }
    #exploreList {
        width:50%;
    }
*/
    #menucontainer{
        font-size: 150%;
    }
/*
    #rectangle{
        background: white;
    }
*/
    
}
/*
@media only screen and (min-width: 480px) {
    #logotitle {
        font-family: "Lato", Sans-serif;
        font-weight: 400;
        color: #6798AC;
        padding: 1rem;
        font-size: 4rem;
        margin-bottom:-1em;
        background-color: blue;//white;
        z-index:2; 
        height:20%;
    }
}
*/
/*
@media (min-width: 980px) { //480
    #logotitle {
        font-family: "Lato", Sans-serif;
        font-weight: 400;
        color: #6798AC;
        padding: 1rem;
        font-size: 4rem;
        margin-bottom:-1em;
        background-color: blue;//white;
        z-index:2; 
        height:20%;
    }
    #textcontainer{
        position:absolute;
        top:20%;
        max-width:90%;
        max-height:80%;
    }
    #rectangle{
        background: yellow; //white;
    }
    #menucontainer{
        font-size: 150%;}
}
*/
 
/*
@media (min-width: 640px) { 
    #textcontainer{
        font-size: 520%;
    }
    #rectangle{
        background: red;//white;
    }
    #menucontainer{
        font-size: 150%;
    }
}
*/

/*
CSS Box Model

It’s important to understand the basics, like how elements are generated and behave in the browser, before diving into responsive web design. The CSS Box Model consists of four distinct parts.

Content
The content of the box, where text and images appear.

Padding
Clears an area around the content.

Border
A border that goes around the padding.

Margin
Clears an area around the border.

What was once a bug is now a widely used CSS property. It basically means you can choose whether or not to include borders and padding in the width of your content.

Without box-sizing: border-box
Margin, borders and padding are drawn outside the set width of your content.
 
With box-sizing: border-box
Borders and padding are drawn inside the set width of your content. The margin is drawn outside.
 
*/

/*
Create a Container

A container holds all elements and controls the page’s maximum width. Using a container will make designing for responsive easier!
*/

.container {
  margin: 0 auto;
/*  max-width: 48rem;*/
  width: 90%;
}

/*On larger screens, columns gain float: left in order to stack content horizontally. Columns now use padding for gutters, so you no longer need to worry about removing margins.*/
 

@media (min-width: 40rem) {
  .column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }  
}


/*Columns are wrapped in rows to prevent other elements from stacking next to them, otherwise known as clearing issues. Rows are cleared using the popular clearfix, 

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}


/*Add the class .flow-opposite to columns where you want content to display first on mobile but appear on the right on larger screens.*/
/*

@media (min-width: 40rem) {
  .column.flow-opposite { float: right; }
}*/
